<!-- <p id="notice"><%= notice %></p>

<h1>Listing Products</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    < % @products.each do |product| %>
      <tr>
        <td>< %= link_to 'Show', product %></td>
        <td>< %= link_to 'Edit', edit_product_path(product) %></td>
        <td>< %= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    < % end %>
  </tbody>
</table>

<br>

< %= link_to 'New Product', new_product_path %>

 -->
 <h1 style="color: blue;">Search For Flight , Train, Bus , Hotel using diffrent service provider</h1><br/><br /><br/><br />
 <table>
   <thead>
      <th>
         <div class="row"><h1>Railways Details </h1>
          <%= link_to railway_path do %>
            <%= image_tag "trains-23a.jpg", :size => "209x150" %>
          <% end %>
          </div>
      </th>
      <th></th> <th></th> <th></th> <th></th> <th></th> <th></th>
      <th>
          <div class="row"><h1>Goibio API </h1>

          <%= link_to goibibo_path do %>
            <%= image_tag "goibibo.png", :size => "209x150" %>
          <% end %>
          </div>
      </th> <th></th> <th></th> <th></th> <th></th> <th></th> <th></th>
      <th> 
            <div class="row"><h1>Google API </h1>
              <%= link_to google_api_path do %>
                <%= image_tag "DoJhtiA.png", :size => "209x150" %>
              <% end %>
            </div>
      </th> <th></th> <th></th> <th></th> <th></th> <th></th> <th></th>
      <th>
           <div class="row"><h1>Semantic3 API </h1>
            <%= link_to semantic3_path do %>
              <%= image_tag "Axpro uv58-600x600.jpg", :size => "209x150" %>
            <% end %>
            </div>  
      </th>
   </thead>
   <tbody>
        <tr>
           <td ><i><b style="color: green;">Indian Railway Api to search all information of train.</i></b></td>
           <td></td>
           <td></td>
           <td></td>
           <td></td>
           <td></td>
           <td></td>
           <td><i><b style="color: green;">Goibibo Api to get details of Flight, Hotels and Bus Services</i></b></td>
           <td></td>
           <td></td>
           <td></td>
           <td></td>
           <td></td>
           <td></td>
           <td><i><b style="color: green;">Google Api to search details of Flight Services</i></b></td>
             <td></td>
           <td></td>
           <td></td>
           <td></td>
           <td></td>
           <td></td>
           <td><i><b style="color: green;">Semantic Api to search details of Any Products</i></b></td>
        </tr>
   </tbody>
 </table>





    




<div class='row'>



 
<!--  <h1>Search Hotels throug wan.travel</h1>

 < %= form_tag list_countries_path do |f| %>
  <div class="row">
   <b>Enter City :</b>< %= text_field_tag "search_country" %>
   <b>Check In Date: </b>< %= date_field_tag "check_in_date", Date.today%>
   <b>Check Out Date: </b>< %= date_field_tag "check_out_date", (Date.today+1)%>
  </div> <br />
  <div class="actions" style="margin-left: 118px;">
    < %= submit_tag "Search" %>
  </div>
< % end %> -->

 
</div>







<script type="text/javascript">
 $('#adult_hide').hide();
$('.test').change(function(){
     if ($('#trip_one_way').is(":checked")){
       $('#return_date').attr('disabled',true);   
     }else{
       $('#return_date').attr('disabled',false);
     }
     if ($('#trip_bus_one_way_bus').is(":checked")){
       $('#return_date_bus').attr('disabled',true);   
     }else{
       $('#return_date_bus').attr('disabled',false);
     }
});
$('#adult').click(function(){
  $('#adult_hide').show();
})
</script>