<!DOCTYPE html>
<html>
<head>
  <title>ListPrice</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="loading-indicator">
 <%= image_tag("/assets/loading_new.gif", :id => "loading-indicator") %>
</div>
<%= yield %>

</body>
<style type="text/css">

#loading-indicator {
    position: fixed;
    left: 409px;
    top: 200px;
    width: 25%;
    height: 51%
 }
</style>
<script type="text/javascript">
$(function() {
  $('#loading-indicator')
    .hide()  // hide it initially.
  
$('form').submit(function(){
        $('#loading-indicator').show();
        $('.hide_button').attr('disabled',true)
   });
   
});

</script>>
</html>
